{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" type="text/css" href="\static\css\foto.css">
{% endblock %}
{% block title %}FixedTrack{% endblock %}
{% block content %}
<body>

<div class="row">
  <div class="column">
    <img src="\static\img\foto\1.jpg">
    <img src="\static\img\foto\2.jpg">
    <img src="\static\img\foto\3.jpg">
    <img src="\static\img\foto\4.jpg">
    <img src="\static\img\foto\5.jpg">
  </div>
  <div class="column">
    <img src="\static\img\foto\6.jpg">
    <img src="\static\img\foto\7.jpg">
    <img src="\static\img\foto\8.jpg">
    <img src="\static\img\foto\9.jpg">
    <img src="\static\img\foto\10.jpg">
  </div>
</div>
<script src="\static\js\foto.js"></script>
</body>
{% endblock %}

