{% extends "base.html" %}
{% block header %}

{% endblock %}
{% block title %}FixedTrack{% endblock %}
{% block content %}
<div class="container">
<div class="left">
    <div class="col-sm-5">
        <div class="card-group">
            <img class="card-img-top" src="/static/img/giorni1.jpg" alt="Card image top">
            <div class="card-body">
                <h3 class="card-title">Giorni v1</h3>
                <h4 class="card-subtitle">CRANK</h4>
                <p class="card-text">49t / bcd 144 / arm 165</p>
            </div>
        </div>
        <div class="card-group">
            <img class="card-img-top" src="/static/img/pizz1.jpg" alt="Card image top">
            <div class="card-body">
                <h3 class="card-title">Pizz</h3>
                <h4 class="card-subtitle">CRANK</h4>
                <p class="card-text">49t / bcd 144 / arm 165</p>
            </div>
        </div>
        <div class="card-group">
            <img class="card-img-top" src="/static/img/cinelli1.jpg" alt="Card image top">
            <div class="card-body">
                <h3 class="card-title">Cinelli Mash</h3>
                <h4 class="card-subtitle">FRAME</h4>
                <p class="card-text">Cinelli Mash Size 53</p>
            </div>
        </div>
        <div class="card-group">
            <img class="card-img-top" src="/static/img/ws2.jpeg" alt="Card image top">
            <div class="card-body">
                <h3 class="card-title">Ellipse</h3>
                <h4 class="card-subtitle">WHEELSET</h4>
                <p class="card-text">Ellipse WS 700c, COG 17t, HUB Ellipse</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}